H1 {
    color: wheat;
    font-size: 200%;
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: hsla(200,13%,17%, 0.5);
    color: silver; /* Цвет текста */
    padding: 2px;
    text-shadow: 1px 1px 5px black;
  }
  P {
    font-family: Intro;
    text-align: left;
    font-size: 150%;
    background-color: hsla(200,13%,17%, 0.5);
    color: whitesmoke;
    padding: 7px;
    text-shadow: 2px 2px 5px black;
  }
  
  body{
    
        background: #c7b39b url(images/bg.jpg);
  }

  a:link {font-size:18px; color:#9c62dd;}
  a:visited {font-size:18px; color: silver;}
  a:hover {font-size:18px; color:#ce27f0;}
  a:active {font-size:18px; color: #ce27f0;}
  
  @media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
  @media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
  @media screen and (max-width: 992px) { div.contentblock {width: 970px;} }

  social-icons-1 {
    padding: 0;
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons-1 li {
    padding: 0 10px;
}
.social-icons-1 i {
    color: #337AB7;
    font-size: 48px;
}
.social-icons-1 img {
    width: 50px;
    height: 30px;
}
.social-icons-1 i:hover,
.social-icons-1 img:hover {
    animation: social-icons-1-move 200ms infinite;
}
@keyframes social-icons-8-move {
    0% {
        filter: drop-shadow(6px 6px #BFE2FF) drop-shadow(-6px -6px #d1eaff);
    }
    25% {
        filter: drop-shadow(-6px -6px #BFE2FF) drop-shadow(6px 6px #d1eaff);
    }
    50% {
        filter: drop-shadow(6px -6px #BFE2FF) drop-shadow(-6px 6px #d1eaff);
    }
    75% {
        filter: drop-shadow(-6px -6px #BFE2FF) drop-shadow(-6px -6px #d1eaff);
    }
    100% {
        filter: drop-shadow(6px 6px #BFE2FF) drop-shadow(6px 6px #d1eaff);
    }
}