H1 {
    color: wheat;
    font-size: 200%;
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: hsla(200,13%,17%, 0.5);
    color: silver; /* Цвет текста */
    padding: 2px;
    text-shadow: 1px 1px 5px black;
  }
  P {
    font-family: Intro;
    text-align: left;
    font-size: 150%;
    background-color: hsla(200,13%,17%, 0.5);
    color: whitesmoke;
    padding: 7px;
    text-shadow: 2px 2px 5px black;
  }
  
  body{
    
        background: #c7b39b url(images/bg.jpg);
  }

  a:link {font-size:18px; color:#9c62dd;}
  a:visited {font-size:18px; color: silver;}
  a:hover {font-size:18px; color:#ce27f0;}
  a:active {font-size:18px; color: #ce27f0;}
  
  @media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
  @media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
  @media screen and (max-width: 992px) { div.contentblock {width: 970px;} }

  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 6px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: rgb(255, 255, 255);
}
.vk a:hover {background: #5d84ae; color: #fff;}